<!DOCTYPE html>
<html>
<head>
    <title>Adjectives ending with MPARTIAL</title>
</head>
<body>

<h1>Adjectives ending with MPARTIAL</h1>

<p><a href="../../../../../../../../index.html">Back to main index...</a></p>
<p><a href="../adjectives_ending_with_partial.html">Back to Adjectives Ending with <strong>PARTIAL</strong>...</a></p>
<p>
<ul>
    <li>Filter to adjectives ending with: <a href="impartial/adjectives_ending_with_impartial.html"><strong>I</strong>MPARTIAL (1)</a></li>
</ul>
</p>

<h2>Adjectives ending with MPARTIAL (1)</h2>
<ul>
    <li>impartial</li>
</ul>
</body>
</html>
